<?xml version="1.0" encoding="utf-8"?>
<log4net debug="true">
  <appender name="ElasticSearchAppender" type="log4net.ElasticSearch.ElasticSearchAppender, log4net.ElasticSearch">
    <connectionString value="Scheme=http;Server=localhost;Index=es.netcore.loggingmiddleware;Port=9200"/>
    <bufferSize value="0" />
  </appender>
  <logger name="eslogger">
    <level value="ALL"/>
    <appender-ref ref="ElasticSearchAppender" />
  </logger>
</log4net>
